<h1>Listing events</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Date</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Image</th>
    <th>Category</th>
    <th>Name</th>
    <th>Url</th>
    <th>Venue</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.location %></td>
    <td><%= event.date %></td>
    <td><%= event.start_time %></td>
    <td><%= event.end_time %></td>
    <td><%= image_tag event.image %></td>
    <td><%= event.category %></td>
    <td><%= event.name %></td>
    <td><%= link_to 'Tickets', event.url %></td>
    <td><%= event.venue %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>

<%= link_to 'Update Listing', '/import_events' %>

